* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.url text eol=crlf

# https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes#_merge_strategies
*.lock text -diff merge=ours linguist-generated

.gitdescription export-ignore
